<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <h3>MON COMPTE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-inline">
        <li><%= link_to 'Mon planning', learners_path %></li>
        <li><%= link_to 'Données personnells', edit_learner_registration_path %></li>
        <li>Historique de mes leçons</li>
      </ul>
    </div>
  </div>
</div>