<div id="footer" class="text-center">
  <p class="social">Follow Us CarCar on social networks</p>
    <ul class="list-inline social text-center">
      <li><i class="fa fa-facebook"></i></li>
      <li><i class="fa fa-twitter"></i></li>
      <li><i class="fa fa-youtube"></i></li>
      <li><i class="fa fa-linkedin"></i></li>
    </ul>
    <%= link_to 'About us', about_us_path %>
</div>

