#footer {
  background-color: black;
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 80px;
}

#footer li {
  font-size: 30px;
}

#footer .social_networks {
  font-size: 20px;
}