body > div.header {
  text-align: center;
  height: 500px;
  background-color: #F0F1F5;
  background-image: url(./homepic.jpeg);
  background-size: cover;
  color: white;
}

.btn {
  position: center;
}

body > div.light-grey-bg > div > div > div > div > img {
  width: 100px
}

body > div.buttons {
  text-align: center;
  height: 200px;
  position: center;
  padding-top: 80px;
}

body > div.homemaps {
  text-align: center;
}


body > div.container.text-center > div > div > h3 {
  padding: 5px;
}

body > div.container.text-center > div > div > div > a > img {
  width: 200px;
  height: 150px;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px lightgrey;
  vertical-align: middle;
}