body > div.header {
  text-align: center;
  height: 500px;
}

.btn {
  position: center;
}

body > div.light-grey-bg > div > div > div > div > img {
  width: 100px
}

body > div.buttons {
  text-align: center;
  height: 200px;
  position: center;
  padding-top: 80px;
}

body > div.homemaps {
  text-align: center;
}