h3 {
  padding: 20px 0px;
}

.list-inline > li {
  padding: 10px 75px;
}

.list-inline {
  background-color: #313030;
  color: white;
}

.calendar-header {
  width: 525px;
  padding: 10px 0px;
  text-align: center;
  background-color: #333333;
  color: white;
}

.calendar-header > a {
  color :white;
}

th {
  text-align: center;
}

.day {
  text-align: center;
  background-color: #E0F7CC;
  border: solid 1px #C7F1A3;
  width: 150px;
  height: 75px;
}

.day_a {
  text-align: center;
  background-color: red;
  border: solid 1px #C7F1A3;
  width: 150px;
  height: 75px;
}

.calendar {
 margin-left: 140px;
 margin-bottom: 10px;
}

.hour {
  background-color: #E0F7CC;
}