
.img_teacher_show_learner {
  padding: 10px 10px;
}


.calendar-header {
  width: 525px;
  padding: 10px 0px;
  text-align: center;
  background-color: #333333;
  color: white;
}

.calendar-header > a {
  color :white;
}

th {
  text-align: center;
}

.day {
  text-align: center;
  background-color: #E0F7CC;
  border: solid 1px #C7F1A3;
  width: 150px;
  height: 75px;
}

.day_a {
  text-align: center;
  background-color: red;
  border: solid 1px #C7F1A3;
  width: 150px;
  height: 75px;
}


.hour {
  background-color: #E0F7CC;
}

.add_school {
  border-left: solid 1px #A9A9A9;
}

.teacher_show_learner {
  background-color: white;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  padding-top: 10px;
}

.navbar_learner {
  background-color: #313030;
  color: white;
  margin-left: 0px;
}
.list_navbar_learner {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 100px;
  list-style: none;
}

.dispo_teacher_show_learner {
  margin-top: 10px;
  display: inline-block;
  border-left: 1px solid #A9A9A9;
}

.sign_out_show_learner {
  margin-left: 1200px;
}