
.presentation_school_show {
  margin-top: 20px;
  background-color: white;
  padding-bottom: 320px;
  padding-top: 20px;
  border-radius: 5px;
}

.description_teacher {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 140px;
  background-color: white;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
}

.description_teacher_photo_name {
  border-right: 1px solid #A5A5A5;
}