body > div.container.coktails_presentation.text-center > div img {
width: 200px;
height: 150px;
border: 10px solid white;
border-radius: 50%;
box-shadow: 0 0 5px lightgrey;
vertical-align: middle;
}

body > div.lastin > h2 {
  text-align: center;
}

body > h1 {
  text-align: center;
}


body > div.container > div > div > div > ul > li {
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}

body > div.container > div > div > div > ul > li > div > header {
  background-color: transparent;
  color: black;
}

body > div {

}

