
.teacher_dashboard {
  margin: 10px 0px;
  padding: 20px 0px;
  background-color: white;
}

.img_teacher_dashboard {
  padding: 15px 0px;
}

.calendar-header {
  width: 750px;
  padding: 10px 0px;
  text-align: center;
  background-color: #333333;
  color: white;
  margin: none;
}

.name_teacher_dashboard {
  padding: 10px;
}

#content_dashboard {
  background-color: #F0F1F5;
}

ul > li {
  color: grey;
}
