.hour {
  background-color: #E0F7CC;
  padding: 5px 0px;
}

.calendar-hour {
  width: 75px;
  border: 1px solid #C7F1A3;
}

.form_teacher {
  padding: 20px;
  margin-right: 33%;
  margin-left: 33%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}